<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680757745371-i8uu6cu72f3398ldngjptfcm81lnceeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680757745371-i8uu6cu72f3398ldngjptfcm81lnceeh</string>
	<key>API_KEY</key>
	<string>AIzaSyC0mBSl9Wvia85Xiu7IeCbqvxpvgniJ-SU</string>
	<key>GCM_SENDER_ID</key>
	<string>680757745371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iOS.kavita.com</string>
	<key>PROJECT_ID</key>
	<string>kavitaproject-824e0</string>
	<key>STORAGE_BUCKET</key>
	<string>kavitaproject-824e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680757745371:ios:fec1f4ab382f70113cdefe</string>
</dict>
</plist>